.favourite {
  padding: 120px 0 143px;
}

.favourite__cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  column-gap: 48px;
}

.favourite__title {
  position: relative;
  display: inline-block;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.04;
  letter-spacing: 0.06em;
}

.favourite__title::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 190px;
  height: 32px;
  background-image: url("./../../img/icons/decor-yellow.svg");
}
