.promo {
  margin-bottom: 63px;
}

.promo__content {
  display: flex;
  column-gap: 24px;
  align-items: center;
  padding: 68px 80px 0 120px;
  border-radius: 59px;
  background-color: #f4f6f5;
}

.promo__text {
  padding-bottom: 90px;
}

.promo__title {
  max-width: 480px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.25;
}

.promo__descr {
  margin-top: 40px;
  font-size: 32px;
  font-weight: 400;
  line-height: calc(48 / 32);
  letter-spacing: -0.05em;
}

.btn {
  padding: 18px 40px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.05em;
  display: inline-block;
}

.promo__btn-wrapper {
  margin-top: 32px;
  display: flex;
  column-gap: 34px;
  align-items: center;
}
.promo__btn-wrapper::before {
  content: "";
  display: inline-block;
  width: 190px;
  height: 32px;
  background-image: url("./../../img/icons/decor-yellow.svg");
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight span {
  position: relative;
}

.highlight::before {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  bottom: 0;
  left: -38px;
  right: -160px;
  background-color: #fff;
  transform: rotate(-2deg);
}

.highlight-_yellow::before {
  right: -100px;
  background-color: var(--yellow);
}
