.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    cursor: pointer;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger div {
    transition: all 0.2s;
    width: 30px;
    height: 4px;
    background: #000;
  }
  .hamburger_active div {
    margin-bottom: -3px;
  }
  .hamburger_active div:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
  }
  .hamburger_active div:nth-child(2) {
    display: none;
  }
  .hamburger_active div:nth-child(3) {
    transform: translateY(-11px) rotate(45deg);
  }
}
