:root {
  --textColor: #000;
  --yellow: #ebd96b;
  --gray: #7f7f7f;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--textColor);
}

.container {
  max-width: 1720px;
  margin: 0 auto;
}

@media (max-width: 1919px) {
  .container {
    max-width: 1300px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 18px;
  }
  .promo__title {
    font-size: 68px;
  }
  .promo__btn-wrapper {
    column-gap: 20px;
  }
  .promo__descr {
    font-size: 18px;
  }
  .sale__text {
    padding: 90px;
  }
  .sale__title {
    font-size: 68px;
    max-width: 400px;
  }

  .sale__descr {
    font-size: 26px;
  }
  .download {
    padding: 0 100px;
  }
  .footer__wrapper {
    column-gap: 80px;
  }
  .footer__list {
    width: 200px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header__nav-btn {
    padding: 10px 20px;
  }
  .header__nav ul {
    justify-content: space-between;
    column-gap: 20px;
  }
  .promo__text {
    padding-bottom: 40px;
  }
  .brands__list {
    column-gap: 60px;
  }
  .arrivals {
    padding: 80px 0;
  }
  .arrivals__cards {
    margin-top: 80px;
  }
  .favourite {
    padding: 80px 0;
  }
  .favourite__cards {
    margin-top: 80px;
  }
  .download {
    padding-bottom: 80px;
  }
  .form {
    padding: 120px 0;
  }
  .footer {
    padding: 100px 0;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .header__nav {
    font-size: 18px;
  }
  .header__nav-btn {
    padding: 10px 20px;
    font-size: 18px;
  }
  .header__nav ul {
    column-gap: 13px;
  }
  .header__logo span {
    font-size: 23px;
  }
  .footer__social-descr {
    font-size: 18px;
  }
  .footer__list {
    max-width: 143px;
    font-size: 16px;
  }
  .promo__content {
    flex-direction: column-reverse;
    row-gap: 50px;
  }
  .promo__title {
    max-width: 400px;
  }
  .brands__list {
    column-gap: 30px;
  }
  .sale__img img {
    display: none;
  }
  .sale__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px 30px;
    max-width: unset;
    width: 100%;
  }
  .form__title {
    font-size: 50px;
  }
  .form__descr {
    font-size: 25px;
  }
  .download__title {
    font-size: 33px;
  }
  .download__descr {
    font-size: 17px;
  }
  .footer__list li {
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .header {
    padding: 30px 0;
  }
  .header__nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 250px;
    z-index: 10;
    left: -80%;
    top: 0;
    bottom: 0;
    padding-top: 60px;
    transition: all 1s;
  }
  .header__nav_active {
    left: 0%;
  }
  .header__nav ul {
    flex-direction: column;
  }
  .header__nav li {
    margin-top: 40px;
  }
  .header__nav a {
    color: #fff;
  }
  .promo__content {
    padding: 40px;
  }
  .promo__title {
    max-width: 330px;
    font-size: 50px;
  }
  .brands {
    padding: 40px 0;
  }
  .brands__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 30px;
  }
  .arrivals {
    padding: 40px 0;
  }
  .arrivals__cards {
    margin-top: 40px;
    flex-direction: column;
    row-gap: 30px;
  }
  .favourite {
    padding: 60px 0;
  }
  .favourite__cards {
    flex-direction: column;
    row-gap: 30px;
    margin-top: 40px;
  }
  .form {
    padding: 80px 0;
  }
  .form__title {
    font-size: 35px;
  }
  .form__descr {
    font-size: 20px;
  }
  .form__input {
    width: 500px;
  }
  .form__input input {
    font-size: 20px;
  }
  .form__btn {
    font-size: 24px;
  }
  .download__content {
    flex-direction: column-reverse;
  }
  .footer__wrapper {
    flex-direction: column-reverse;
    row-gap: 50px;
  }
  .footer__list {
    max-width: 161px;
  }
  .footer__text {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .promo__text {
    overflow: hidden;
  }
  .promo__btn-wrapper::before {
    display: none;
  }
  .promo__content {
    padding: 15px;
    border-radius: 15px;
  }
  .brands__list {
    grid-template-columns: repeat(2, auto);
  }
  .sale__title {
    font-size: 50px;
    max-width: 340px;
  }
  .sale__text {
    padding: 60px 15px;
  }
  .download {
    padding: 0 15px 60px;
  }
  .download__title {
    text-align: center;
  }
  .download__content {
    row-gap: 30px;
    width: 100%;
    height: 100%;
  }
  .download__descr {
    text-align: center;
  }
  .download__links {
    flex-direction: column;
    align-items: center;
    row-gap: 19px;
  }
  .form {
    padding: 60px 10px;
  }
  .form__title {
    font-size: 30px;
  }
  .form__input {
    width: 100%;
  }
  .form__input input {
    padding: 10px 20px;
  }
  .form__btn {
    position: static;
    margin-top: 60px;
    padding: 16px 80px;
  }
  .footer {
    padding: 60px 0;
    text-align: center;
  }
  .footer__wrapper {
    align-items: center;
  }
  .footer__text {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .footer__list li {
    margin-top: 18px;
  }
  .footer__social-list {
    justify-content: center;
  }
}
