.header {
  padding: 46px 0 56px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.header__logo {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.header__logo span {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header__nav {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.header__nav ul {
  display: flex;
  align-items: center;
  column-gap: 65px;
}

.header__nav a {
  color: var(--textColor);
}

.header__nav-btn {
  padding: 13px 22px 17px;
  background-color: #000;
  border-radius: 7px;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.03em;
}

a.header__nav-btn {
  color: #fefefe;
}

